.header {
    display: flex;
    justify-content: space-between;
}

.list-item {
    height: 98px;//123px;

    &__description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &_loader {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}